.page {
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 95vh;
}

.productsContainer {
    width: 70vw;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: start;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .productsContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 767px) {
    .productsContainer {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .page {
        justify-content: flex-start;
        padding: 1rem;
        flex-direction: column;
    }
}